.auth {
    position: relative;
    
    .title-info {
        margin-top: 100px;
        text-align: center;
    }

    .form {
        width: 400px;
        margin: 0 auto;

        .item {
            margin-bottom: 16px;

            a-button {
                width: 100%;
            }
        }
    }
}



